*{
    margin:0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--font-color);
}

input,
button{
    font-size: 16px;
}

.usersForm{
    width: 400px;
}

.input-container{
    margin: 10px 5px;
}

input{
    background-color: rgb(241, 241, 241);
    width: calc(100% - 30px);
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 10px;
}

input[id='first_name'],
input[id='last_name']{
    width: 45%;
}

.usersForm>button{
    background-color: rgb(118, 175, 170);
    color: #fff;
    width: 98%;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.usersForm>button:hover{
    background-color: rgb(76, 109, 106);
}